

@font-face {
    font-family: Sofia;
    font-style: normal;
    font-weight: 700;
    src: url('eot/Sofia-Pro-Bold.eot');
    src: url('eot/Sofia-Pro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('woff/Sofia-Pro-Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('woff2/Sofia-Pro-Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('ttf/Sofia-Pro-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Sofia;
    font-style: normal;
    font-weight: 400;
    src: url('eot/Sofia-Pro-Regular.eot');
    src: url('eot/Sofia-Pro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('woff/Sofia-Pro-Regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('woff2/Sofia-Pro-Regular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('ttf/Sofia-Pro-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Sofia;
    font-style: normal;
    font-weight: 300;
    src: url('eot/Sofia-Pro-Light.eot');
    src: url('eot/Sofia-Pro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('woff/Sofia-Pro-Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('woff2/Sofia-Pro-Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('ttf/Sofia-Pro-Light.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Sofia;
    font-style: normal;
    font-weight: 200;
    src: url('eot/Sofia-Pro-Extra-Light.eot');
    src: url('eot/Sofia-Pro-Extra-Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('woff/Sofia-Pro-Extra-Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('woff2/Sofia-Pro-Extra-Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('ttf/Sofia-Pro-Extra-Light.ttf') format('truetype');
    font-display: swap;
}


.sofia{
    font-family: Sofia!important;
}